.app {
    display: flex;
    min-height: 100vh; /* 100% of the viewport hieght */
    background: var(--color-bg);
}

.main-content {
    flex: 1;
    overflow-y: auto;
    background: var(--color-bg);
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .main-content {
        min-height: calc(100vh - 70px);
    }
}
